@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* General */
    --background: 0 0% 4%;
    --foreground: 0 0% 96%;
    --text: 0 0% 64%;
    /* Components */
    --border: 0 4% 15%;
    /* Brand */
    --primary: 141 78% 65%;
    --primary-foreground: 0 7% 9%;
    --secondary: 0 0% 24%;
    --secondary-foreground: 0 0% 95%;
    /* Validations */
    --warning: 40 59% 49%;
    --warning-foreground: 0 0% 100%;
    /* Card */
    --card: 0 0% 8%;
    --card-foreground: 0 0% 100%;
    /* Defaults */
    --popover: 0 0% 5%;
    --popover-foreground: 0 0% 95%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 64%;
    --accent: 0 0% 4%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
    /* Charts */
    --chart-1: 213 83% 59%;
    --chart-2: 141 78% 65%;
  }

  .dark {
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Removed arrows on Input type number */
@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}